<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    <div class="container mt-5">
      <h2>Contact Us</h2>
      <p>Please use the form below to send us your support request or feedback.</p>
      <form action="{% url 'contact' %}" method="POST" class="mt-5">
        {% csrf_token %}
        <!-- Form fields -->
        <button type="submit" class="btn btn-success my-3">Submit</button>
      </form>
    </div>
    <!-- Success message -->
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Message successfully sent!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endblock %}
</body>
</html>
